
supplementary/.DS_Store

main-blx.bib

main.acn

main.aux

main.bbl

main.blg

main.glo

main.ist

main.log

main.out

main.pdf

main.run.xml

main.syg

main.synctex.gz

main.toc

Joule_Word/multimedia_files-joule-style-sheet.docx

figures/
